*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 600px;
    background-image: url(../image/img2.jpeg);
    background-size: cover;
    background-position: center;
}
.custom-row{
    min-height: 500px;
}
.destination-text{
    max-height: 100%;
}
.img-custom{
    height: 100%;
}
.destination-text{
    background-color: #fdfbe9;
}
.destination-text-left{
    background-color: #246068;
    color: white;
}